nav{
    margin: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
}
nav #title{
    line-height: 55px;
    font-size: 40px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: whitesmoke;
}
#navs{
    font-weight: 100;
    color: rgb(243, 243, 243);
    list-style: none;
    text-align: right;
    font-size: 17px;
    line-height: 37px;
}

@media screen and (max-width: 445px) {
    nav{
        margin: 20px;
    }
    nav #title{
        line-height: 40px;
    }
    #navs{
        line-height: 27px;
    }
}
