.wrapper{
    padding: 20px;
    font-weight: 300;
    width: 100%;
}
.wrapper h1{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}
.meet{
    display: flex;
    margin-top: 50px;
}

.meet span{
    height: 50px;
    width: 5px;
    background-color: aliceblue;
}

.info{
    width: 100%;
    margin-left: 10px;
}