.about{
    margin: 40px;
}

.abtNav{
    display: flex;
    gap: 10px;
    align-items: center;
}
.about i{
    font-size: 25px;
    color: gray;
    margin-top: 180px;
}
.searchBar{
background-color: rgb(31, 31, 31);
margin-top: 180px;


}
.about button{
    margin-top: 180px;
}
.about input{
    height: 40px;
    width: 290px;
    border: none;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.733);
    background-color: rgb(31, 31, 31);
    padding-left: 20px;
    margin-top: 180px;

}
.about input:focus{
    outline: none;
}
.about input::placeholder{
    color: rgba(128, 128, 128, 0.705);
}

.projectContainer{
    display: none;
    width: 100%;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}




@media screen and (max-width: 445px) {
    .about{
        margin: 20px;
    }
}
