.wrapper{
    position: relative;
    background-color: rgb(8, 8, 8);
    min-width: 300px;
    height: auto;
    border: 0.5px solid rgba(255, 255, 255, 0.164);
    border-radius: 12px;
    padding-bottom: 10px;
    color: white;
    margin: 20px;
}
.wrapper img{
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    height: auto;
}

.title{
    font-weight: 400;
    margin: 10px;
    font-size: 30px;
    max-width: 300px;
    padding: 5px;

}

.description{
    padding: 5px;
    max-width: 350px;
    margin: 10px;
}

.nav{
    margin: 40px 10px 10px 10px;
    display: flex;
    gap: 20px;
    position: relative;
    align-items: center;
    justify-content: space-around;
}
.nav button{
    padding: 10px;
    width: 140px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

}

#github{
    border: 1px solid rgba(255, 255, 255, 0.209);
}