.ProjectCard{
    max-width: 900px;
    padding: 10px;
    margin: 10px;
    border-radius: 17px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgba(255, 255, 255, 0.068);

}

.title{
    font-size: 30px;
    font-weight: 800;
    color: rgb(3, 3, 3);
}

.description{
    max-width: 400px;
    font-weight: 400;
    margin: 10px 10px 10px 0px;
    color: rgb(78, 78, 78);
}

.navagations{
    color: rgb(204, 204, 204);
    display: flex;
    align-items: center;
}
.deployedLink{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    font-size: 20px;
    color: black;
}
.image img{
    margin-bottom: 20px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 1px 1px 100px 1px rgba(163, 148, 14, 0.205);
}