.wrapper{
    background-color: rgb(8, 8, 8);
    min-width: 300px;
    height: auto;
    border: 0.5px solid rgba(255, 255, 255, 0.164);
    border-radius: 12px;
    margin: 20px;
    padding-bottom: 10px;
}
.wrapper img{
    border-radius: 12px 12px 0px 0px;
    width: auto;
    height: auto;
}

.title{
    font-weight: 900;
    margin: 10px;
    font-size: 30px;
    max-width: 300px;
}

.description{
    max-width: 350px;
    margin: 10px;
}

.nav{
    margin: 10px;
    display: flex;
    gap: 20px;
}
.nav button{
    padding: 10px;
    width: 140px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}