*{
    margin: 0;
    list-style: none;
    font-family: "Source Code Pro";

}
body{
    background-color: #ffffff;
}
li li{
    background-color: #e8d44d;
    padding: 10px;
    color: rgb(24, 24, 24);
    font-weight: 400;
    font-size: 20px;
    border-radius: 10px;
    min-height: 50px;
    margin: 10px;
}
h1{
    margin-bottom: 50px;
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: 100;
}

p{
    margin: 10px;
}
a{
    color: black;
}

/* Add this to your CSS file */
li {
    opacity: 1;
}
  li li{
    display: flex;
    align-items: center;
  }
  li.animate {
    animation: animate-li 0.5s ease-out;
    animation-delay: 0.1s;
  }
  
  @keyframes animate-li {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }



  .title{
    text-align: center;
    background-color: #ffffff;
    width: 100%;
    margin: 20px;
    text-decoration: underline;
  }




  /* card */

  .navagation{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999;
    display: none;
    backdrop-filter: blur(2px);
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    display: none;
    text-align: center;
    box-shadow: 1px 1px 9000px 1px rgb(116, 114, 30);
  }
  
  .card.show {
    display: block;
  }
  
  #close-btn{
    background-color: black;
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px;
    width: 100px;
    border-radius: 8px;
  }
  
  .product-image {
    width: 100%;
    border-radius: 10px;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .buy-btn {
    display: block;
    margin: 10px 0;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  .flipkart {
    background-color: #2874f0;
  }
  
  .amazon {
    background-color: #ff9900;
  }
  
  .buy-now {
    background-color: #28a745;
  }