@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html, body{
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #0f1316;
  /* overflow: hidden; */
}

a{
  text-decoration: none;
}




/* hero container */

#container{
  display: grid;
  place-content: center;
  overflow: hidden;
  background-color: #0f1316;
}
#wrapper{
  margin: 10px;
  padding: 15px;
  margin-top: 50px;
  /* background-color: #190e0e; */
  max-width: 700px;
  border-radius: 22px;
  /* border: 1px solid rgba(245, 245, 245, 0.126); */
  /* box-shadow: 10px 10px 200px 10px rgba(227, 230, 232, 0); */
}
#container #profileImg{
  height: 70px;
  border-radius: 50%;
}

@media screen and (max-width: 576px) {
  #wrapper{
      margin: 20px;
  }
}



#container #name{
  transition: 1s;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
}

#container #about{
  font-size: 15px;
  font-weight: 300;
  color: rgb(233, 233, 233);
}
#about-mob{
  display: none;
  font-weight: 400;
}
#label{
  margin-top: 15px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
}

#skills{

  font-weight: 400;
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

#container #wrapper button{
  font-size: 15px;
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  border-radius: 12px;
  width: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0.164);
  color: rgba(255, 255, 255, 0.856);
  border: 1px solid rgba(255, 255, 255, 0.163);
  /* box-shadow: 10px 10px 100px 10px rgba(20, 97, 160, 0.089); */
  font-weight: 300;
  
}
.buttons-control{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

#hello{
  font-size: 30px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
  display: none;
  transition: 1s;
}

@media screen and (max-width: 449px) {
  #container #about{
      display: none;
  }
  #container #about-mob{
      display: flex;
      font-size: 14px;
      font-weight: 400;
      color: rgb(141, 140, 140);
  }
  #wrapper{
      padding: 20px;
      margin-top: 50px;
      /* background-color: antiquewhite; */
      max-width: 700px;
  }
}

