.aboutContainer {
    position: absolute; /* Keep if required, otherwise use position: fixed; */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: black;
    height: 90%;
    width: 90%;
    max-width: 900px;
    display: grid;
    padding: 10px;
    place-items: center;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.163);
    margin: auto; /* Optional for centering within a larger container */
}

.aboutContainer label {
    margin: 10px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.863);
}
.aboutContainer p{
    color: rgba(255, 255, 255, 0.767);
    padding: 10px;
    font-weight: 300;
}